@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.App main {
  /* width: 92%; */
  /* max-width: 1300px; */
  /* margin: 150px auto; */
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 92%;
  height: 100vh;
  margin: 0 auto;
  color: #455268;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header p {
  font-weight: bold;
}
.header h1 {
  text-align: center;
  font-size: 3em;
}
.header h3 {
  text-align: center;
}

/* TODO: DARK-MODE */
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #242424;
  }
  .header {
    color: #fff;
  }
}
