.JobCard {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  max-width: 850px;
  margin: 90px auto;
}
.JobCard .logo {
  text-align: center;
  flex-basis: 120px;
  /* border: 1px solid orange; */
}
.JobCard .logo img {
  width: 60px;
}
.JobCard .logo p {
  text-align: center;
  margin: 25px auto;
  /* margin: 0px auto; */
}
.JobCard .information {
  flex-basis: 600px;
  /* border: 1px solid blue; */
}
.JobCard .company {
  font-size: 1em;
  font-weight: 600;
  margin: 3px 0;
  color: #465767;
}
.JobCard .period {
  font-size: 0.8em;
  color: gray;
}
.JobCard .description {
  font-weight: 400;
  font-size: 0.9em;
  line-height: 2;
}
.JobCard .role {
  /* color: #000; */
  color: #211e5b;
  font-size: 1.4em;
  font-weight: 500;
  margin: 5px 0;
}
.JobCard #SHL {
  width: 80px;
}
