.ProjectCard {
  position: relative;
  display: inline-block;
  text-align: left;
  margin: 50px;
  width: 250px;
  max-height: 258px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(204, 204, 204);
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.ProjectCard:hover {
  box-shadow: 5px 5px 15px rgb(184, 184, 184);
}
.ProjectCard .title {
  font-weight: 600;
  font-size: 1.1em;
  margin: 5px;
}
.ProjectCard .type-project {
  color: #767676;
  font-size: 0.8em;
  margin: 5px 0 12px 5px;
}
.ProjectCard .tech {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  margin: 5px 0px 0 10px;
}
.ProjectCard .tech img {
  width: 17px;
  vertical-align: middle;
}
.ProjectCard .tech p {
  display: inline;
  margin-left: 5px;
  font-size: 0.6em;
}
.ProjectCard .project-img {
  text-align: center;
  margin: 20px;
}
.ProjectCard .project-img img {
  width: 55px;
}

.realmedia .project-img {
  margin: 0;
}
.zona .project-img {
  margin: 35px;
}
.zanto .project-img {
  margin: 31px;
}
.sunny .project-img {
  margin: 22px;
}
.helpal .project-img {
  margin: 38px;
}
.kapp .project-img {
  margin: 31px;
}

.zona .project-img img {
  width: 101px;
}
.sunny .project-img img {
  width: 73px;
}
.realmedia .project-img img {
  width: 118px;
}
.helpal .project-img img {
  width: 80px;
}
.springboot .project-img img {
  width: 77px;
}
.tradeledger .project-img img {
  width: 85px;
}
.gz .project-img img {
  width: 86px;
}

.helpal {
  background-color: #f7f7f7;
}
.realmedia {
  background-color: #eaeaea;
}
.tradeledger {
  background-color: #c8ebfc;
}
.zanto {
  background-color: #f5cf36;
}
