.SkillCard {
  display: inline-block;
  width: 170px;
  margin: 40px 100px;
  text-align: left;
}
.SkillCard img {
  width: 50px;
  vertical-align: middle;
  margin-right: 10px;
}
.SkillCard p {
  display: inline;
  font-weight: 500;
}
.SkillCard .experience {
  display: inline-block;
  font-size: 0.8em;
  color: rgb(143, 143, 143);
  font-weight: 500;
}
