.Footer {
  background-color: #f7f7f7;
  background-color: #211e5b;
  text-align: center;
  padding: 1px;
  font-size: 0.8em;
  color: #d3d3d3;
}
.Footer main {
  display: flex;
  width: 70%;
  max-width: 800px;
  /* justify-items: center; */
  /* align-items: center; */
  justify-content: space-around;
  margin: 80px auto;
}
.Footer main div {
  display: inline-block;
  text-align: left;
}
.Footer main div p {
  font-weight: bold;
}
.Footer main ul {
  padding: 0;
}
.Footer main ul li {
  list-style: none;
  margin-bottom: 10px;
}
.Footer main ul li a {
  text-decoration: none;
  color: #d3d3d3;
}
.Footer main ul li img {
  width: 12px;
  margin-right: 5px;
  vertical-align: middle;
}
.Footer .bottom {
  font-weight: 500;
}
