.JobCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 850px;
  margin: 90px auto;
}
.JobCard .logo {
  text-align: center;
  flex-basis: 120px;
}
.JobCard .logo img {
  width: 65px;
}
.JobCard .logo p {
  text-align: center;
  margin: 25px auto;
}
.JobCard .information {
  flex-basis: 70%;
}
.JobCard .company {
  font-size: 1em;
  font-weight: 600;
  margin: 3px 0;
  color: #465767;
}
.JobCard .period {
  font-size: 0.8em;
  color: gray;
  width: 130px;
}
.JobCard .description {
  font-weight: 500;
  font-size: 0.9em;
  line-height: 2;
}
.JobCard .modules {
  font-weight: 500;
  font-size: 0.9em;
  margin: 8px 0px;
  line-height: 1.8;
}
.JobCard .role {
  color: #211e5b;
  font-size: 1.4em;
  font-weight: 500;
  margin: 5px 0 15px 0;
}
.JobCard #SHL {
  width: 80px;
}

@media only screen and (max-width: 700px) {
  .JobCard {
    display: block;
    width: 95%;
  }
  .JobCard .logo {
    text-align: left;
    margin-bottom: -70px;
  }
  .JobCard .company,
  .JobCard .role {
    margin-left: 100px;
  }
  .JobCard .description,
  .JobCard .modules:first-child {
    width: 100%;
    margin-top: 25px;
  }
  .EducationCard {
    margin-left: 40px;
  }
  .JobCard .period {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .JobCard .company,
  .JobCard .role {
    max-width: 250px;
  }
  .EducationCard {
    margin-left: 10px;
  }
}
